
    <section>
        <div class="form-box Login">
            <div class="form-value">
                <h2>Login</h2>
                <form action="#">
                    <div class="inputbox">
                        <span class="icon">

                        </span>
                        <input type="email" required>
                        <label for="">E-mail</label>
                    </div>
                    <div class="inputbox">
                        <span class="icon">

                        </span>
                        <input type="password" required>
                        <label for="">Contraseña</label>
                    </div>
                    <div class="forget">
                        <label><input type="checkbox">Recuerdame</label>
                        <a href="#">Olvido Contraseña?</a>
                    </div>
                    <button type="submit" class="btn">Log in</button>
                    <div class="register">
                        <p>No tiene cuenta?</p>
                        <a href="#">Registrarse</a>
                    </div>

                </form>
            </div>
        </div>
    </section>
